section.contact {
  padding-top: 0;
}

.contact {

  .section__heading {
    text-align: left;
  }

  .contact-form {
    max-width: 700px;
    margin: 0 auto;
    margin-top: 30px;
  }

  .contact-map {
    height: clamp(450px, 3vw, 500px);
  }

  &__image {
    display: flex;
    justify-content: center;
    height: 100%;

    img {
      width: 60%;
    }
  }

  &__title {
    margin-bottom: 30px;
  }

  label {
    width: 100%;
    margin-bottom: 15px;
  }

  input,
  textarea {
    padding: 15px;
    width: 100%;
    margin-bottom: 20px;
    border: 0;
    border: 2px solid #e6e9e9;
    background-color: transparent;

    &:focus {
      border-color: map-get($button-color, background-hover-button);
      outline: none;
    }
  }

  textarea {
    min-height: 200px;
    margin-bottom: 0;
  }

  .input-row {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 40px;
  }
}

.contact .inner-container {
  grid-template-columns: 1fr;
  display: grid;
}