section:nth-child(odd).faq .faq__accordion h3 {
  background-color: #fff;
}

section:nth-child(even).faq .faq__accordion h3 {
  background-color: map-get($theme-background-color,
      background-secondary-color);
  ;

}

.faq {
  .sub-title {
    max-width: 600px;
    margin-bottom: clamp(21px, 3vw, 50px);

    h2 {
      margin-bottom: 0;
    }
  }

  .highlight {
    padding: 0 10px;
  }

  .stats {
    h3 {
      text-align: center;
      font-size: 35px;
      margin-bottom: 20px;
    }

    .swiper-button-next,
    .swiper-button-prev {
      @include transform(translateY(100%));
    }
  }

  .CircularProgressbar .CircularProgressbar-path {
    animation: slideGradient 20s ease-in-out infinite;
    stroke: rgba(0, 168, 151, 1);
  }
}

@keyframes slideGradient {
  50% {
    stroke: rgba(6, 184, 255, 1);
  }

  100% {
    stroke: rgba(0, 168, 151, 1);
  }
}

.faq__accordion {
  h3 {
    padding: 20px;
    cursor: pointer;
    font-size: 20px;
    font-weight: 700;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &:not(:last-child) {
    margin-bottom: 20px;
  }

  p {
    border: 1px solid #ebebeb;
    padding: 15px;
  }
}

.stats {
  li {
    margin-bottom: 30px;

    h3 {
      font-size: 1.5rem;
      font-family: "Montserrat", sans-serif;
    }
  }
}

.faq .inner-container {
  @include flex;
  gap: 30px;
  flex-direction: column;

  >div {
    width: 100%;
  }
}