.btn__link {
  background-color: map-get($button-color, background-button);
  margin-top: clamp(21px, 3vw, 35px);
  color: map-get($button-color, button-color);
  border-radius: 45px;
  text-transform: uppercase;
  border: 0;
  padding: $btn-vertical-spacing $btn-horizontal-spacing;

  &:hover,
  &:focus {
    // background-color: map-get($button-color, background-hover-button);
    // color: map-get($theme-color, button-color);
    box-shadow: 0 16px 29px -17px #727272;
  }
}