a {
  color: map-get($theme-color, dark-color);
}


.faq .highlight {
  color: map-get($theme-color, primary-color);
}

.client-content-inner {
  background-color: map-get($theme-background-color, background-primary-color);
}

// button background COlor

.avatar,
.faq .highlight {
  background-color: map-get($button-color, background-hover-button);
}

.scroll-up:hover {
  color: map-get($button-color, background-hover-button);
}