.header__top {
  .navbar {
    left: 0;
    width: 100%;
    z-index: 1;

    h1 {
      margin: 0;
    }

    .navbar-nav {
      display: flex;
      gap: 10px;
      flex-direction: column;
      position: absolute;
      left: 0;
      right: 0;
      padding: 30px;
      background: map-get($theme-color , btn-background);
      box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
      top: 100%;
      transform: translateX(-100%);
      transition: 0.5s ease-in-out;

      &.active {
        transform: translateX(0);
      }

      a {
        font-size: 14px;
        text-transform: uppercase;
        position: relative;
        transition: 0.5s ease-in-out;
        padding: 10px 5px;

        &:before {
          position: absolute;
          border-radius: 50%;
          opacity: 0;
          content: "";
          bottom: 5px;
          left: 50%;
          transform: translateX(-50%);
          width: 3px;
          height: 3px;
          background-color: map-get($button-color , background-hover-button);
        }

        &.active {
          color: map-get($button-color , background-hover-button);

          &:before {
            opacity: 1;
          }
        }

        &:hover,
        &:focus {
          color: map-get($button-color , background-hover-button);

          &:before {
            opacity: 1;
          }
        }
      }
    }
  }
}

header {
  border-bottom: 1px solid #ebebeb;
  padding: 15px 0;
  position: relative;
}

.navbar .inner-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.hamburger {
  display: block;
}

button.hamburger {
  background: transparent;
  padding: 10px;
  display: flex;
  gap: 5px;
  align-items: center;

  svg {
    font-size: 20px;
  }
}