.portfolio {
  .portfolio__content {
    ul {

      li {
        box-shadow: 0 0 14px 2px #4b49492e;
        overflow: hidden;
        padding: 10px;
        position: relative;

        .caption {
          border-top: 1px solid var(--border-color);
          bottom: 0;
          background-color: var(--background-primary-color);
          font-family: 'Ibarra Real Nova', serif;
          font-size: 26px;
          left: 0;
          position: absolute;
          padding: 15px;
          transform: translateY(100%);
          -webkit-transform: translateY(100%);
          -moz-transform: translateY(100%);
          width: 100%;
          z-index: 9;
        }

        .project {
          display: block;


          &:hover {
            img {
              transform: scale(1.1);
            }
          }

          img {
            transition: 0.3s ease-in-out;
            width: 100%;
          }
        }

        &:hover {
          .caption {
            transform: translateY(0);
          }
        }
      }
    }
  }
}