    :root {
        --primary-color: #fff;

        --secondary-color: #06b7ff;

        --dark-color: #333;

        --color-light: #fff;

        --btn-background: #fff;

        // color: map-get(--theme-color, theme-dark-color); // #000

        --background-primary-color: #fff;

        --background-secondary-color: #f8f8f8;

        --background-dark-color: #333;

        --background-button: #000;

        --button-color: #fff;

        --background-hover-button: #05a394;
        --border-color: #e6e6e6;

    }

    .dark {
        --primary-color: #fff;

        --secondary-color: #06b7ff;

        --color-light: #000;

        --dark-color: #fff;

        --btn-background: #3d3d3d;

        // color: map-get(--theme-color, theme-dark-color); // #000

        --background-primary-color: #000;

        --background-secondary-color: #403f3f;

        --background-dark-color: #333;

        --background-button: #fff;

        --button-color: #000;

        --background-hover-button: #05a394;
        --border-color: #2e2d2d;
    }