.about-section {
  h2 {
    font-size: $huge;
  }
}

.excerpt-btn {
  display: flex;
  gap: 15px;
}

.marque {
  font-size: 200px;
  text-transform: uppercase;
  font-weight: 700;

  opacity: 0.2;

  display: block;
  margin-right: 10px;

  &:hover {
    animation-play-state: paused;
  }
}

@keyframes marquee {

  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(-300%);
  }
}

.text-slide {
  overflow: hidden;

}

.inner-slide {
  -moz-animation: marquee 20s linear infinite;
  -webkit-animation: marquee 20s linear infinite;
  animation: marquee 20s linear infinite;
  display: flex;
}