* {
  font-family: 'Montserrat', sans-serif;
}

body {
  margin: 0;
}

.entry-content {
  margin-bottom: 21px;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
}

.container,
.header__top {
  padding-left: 30px;
  padding-right: 30px;
}

button,
input[type="submit"] {
  cursor: pointer;
}

a {
  text-decoration: none;
  cursor: pointer;

  &:hover,
  &:focus {
    color: #05a394;
  }
}

ul {
  list-style-type: none;
  padding: 0;
}

section:nth-child(odd) {
  background-color: map-get($theme-background-color,
      background-secondary-color);
}

.btn__link,
.caption {
  transition: 0.3s ease-in-out;
}

.section__heading {
  text-align: center;
  padding-bottom: 28px;

  h2 {
    font-size: $huge;
  }
}

.stats {
  margin-top: 30px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Ibarra Real Nova', serif;
  margin-top: 0;
}

.faq {
  .section__heading {
    text-align: left;
  }
}